<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat Da Burger!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css">
</head>

<body>
	<!-- {{{ body }}} -->
	<div class="container-fluid">
		<div class="row burger_pic">
			<div class="col-md-12">
				<img src="../../public/assets/img/burger.png">
			</div>
		</div>

		<div class="row text-center">
			<div class="col-md-12">
				<h2>Eat Da Burger!</h2>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-md-6 text-center">
				<!-- for each here for non eaten burgers -->
				<div class="col-md-12 burgers">
					<span id="burger-id">1 - </span>
					<span id="burger-name">name</span>
					<input type="button" value="Devour it!">
				</div>
			</div>
			<div class="col-md-6 text-center">
				<!-- for each here for non eaten burgers -->
				<div class="col-md-12 burgers">
					<span id="burger-id">2 - </span>
					<span id="burger-name">name</span>
				</div>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="centerBlock">
				<input type="text" id="input-burger-name" placeholder="Enter a new burger here">
				<input type="submit" id="submit-button" value="Submit">
			</div>
		</div>

	</div>
</body>

</html>